<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="spacer"></div>
    <img width="200" src="/assets/ftr-logo.png"/>
</div>

<div class="container content" role="main">

    <div class="row">

        <!-- Refresh Timer Card -->
        <div class="card col" *ngIf="!refreshTime">
            <div class="card-header">
                Timer Interval
            </div>
            <div class="card-body">
                <p class="card-text">Please input the number of time in seconds between emitting numbers and their frequency.</p>
                <div class="input-group mt-3 mb-3">
                    <input type="number" min="0" step="1" class="form-control" placeholder="Time in Seconds" [(ngModel)]="refreshTimeInput">
                    <div class="input-group-append">
                        <span class="input-group-text">seconds</span>
                    </div>
                </div>
                <button 
                    class="btn btn-success"
                    [disabled]="!refreshTimeInput || refreshTimeInput < 0"
                    (click)="startProgram()">
                    Start Program
                </button>
            </div>
        </div>

        <!-- Number Input Card -->
        <div class="card col" *ngIf="refreshTime">
            <div class="card-header">
                Number Input
            </div>
            <div class="card-body">
                <p class="card-text">Please enter the {{enteredNumbers.length > 0 ? 'next' : 'first'}} number</p>
                <div class="input-group mb-3">
                    <input type="number" min="0" step="1" class="form-control" [(ngModel)]="numberInput">
                    <div class="input-group-append">
                        <button class="btn btn-success" (click)="numberEntered()">Enter Number</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer"></div>

        <!-- Timer Display And Options -->
        <div class="card col">
            <div class="card-header">
                Timer Display And Options
            </div>
            <div class="card-body" *ngIf="refreshTime">
                <h5 class="card-title">Refresh interval : {{refreshTimeDisplay}} seconds</h5>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progressBarPercentage() + '%'}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <button class="btn btn-{{timerPaused ? 'info' : 'warning'}} mt-3" (click)="timerOperation()">{{timerPaused ? 'Resume' : 'Halt'}} Timer</button>
            </div>
            <div class="card-body" *ngIf="!refreshTime">
                <h5>Please enter the timer interval first.</h5>
            </div>
        </div>

    </div>

    <div class="spacer"></div>

    <!-- Output -->
    <div class="row">
        <h2>Program Log</h2>
    </div>
    <div class="row">
        <div class="card full-width">
            <div class="card-body">
                <ul>
                    <li *ngFor="let output of outputStrings">{{output}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <!-- Exit Button -->
    <div class="row">
        <button class="btn btn-danger col-sm-12" (click)="quit()">Quit</button>
    </div>

</div>
